.navBar {
  background-color: beige;
  color: white;
  padding: 10px;
}

.containerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.navLink {
  text-decoration: none;
  text-align: center;
  color: black;
  margin-right: 70px;
  justify-content: space-between;
}

.navLink:hover {
  color: rgba(0, 0, 0, 0.74);
}

.cartLink {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-weight: bold;
}
